*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#shipping-Address h4{
    font-weight: 700;
    margin-top: 60px;
    margin-bottom: 50px;
}
#shipping-Address .first-last {
    margin-top: 20px;
}

#shipping-Address .first-last input{
    width: 360px;
    height: 50px;
    border: 1px solid rgb(233, 233, 233);
    border-radius: 5px;
    padding-left: 20px;
    margin-top: 10px;
}
#shipping-Address .address{
    margin-top: 20px;
}
#shipping-Address .address input{
    margin-top: 10px;
    height: 50px;
    border: 1px solid rgb(233, 233, 233);
    border-radius: 5px;
    padding-left: 20px;
    width: 800px;
}
#shipping-Address .check{
    margin-top: 20px;
}
#shipping-Address .check label{
    margin-left: 20px;
    color: rgb(39, 37, 37);
    font-weight: 400;
    font-size: 15px;
}
#shipping-Address .check input{
    width: 20px;
    height: 20px;
    appearance: none;
    border: 1px solid rgb(232, 229, 229);
    border-radius: 3px;
    cursor: pointer;
}
#shipping-Address .check input:hover{
    border: 1px solid black;
    filter: brightness(1.70);
  transition: all .5s;
}
#shipping-Address .check input:checked{
    background-color: rgb(0, 0, 0);
}

#shipping-Address .check input:checked::after{
    position: relative;
    top: -3px;
    left: 3px;
    content: '\2714';
    color: white;
}
#shipping-Address .order{
    margin-top: 30px;
}
#shipping-Address textarea{
    width: 800px;
    padding: 15px;
    color: gray;
    font-size: 15px;
    border: 1px solid rgb(232, 229, 229) ;
}
#shipping-Address button{
    margin-top: 15px;
    width: 140px;
    height: 50px;
    margin-bottom: 30px;
}
#shipping-Address .your-order{
    width: 100%;
    height: 50px;
    background-color: rgb(241, 241, 241);
    margin-top: 30px;
    border-radius: 5px;
    justify-content: space-between;
    padding: 15px;
}
#shipping-Address .your-order  p{
    font-weight: 700;
    font-size: 13px;
}
#shipping-Address #empty{
    margin-top: 30px;
    color: red;
    padding: 10px;
}
#shipping-Address .subtotal{
    margin-top: 30px;
    justify-content: space-between;
    font-weight: 700;
    font-size: 13px;
    padding: 15px;
    padding-bottom: 0;
}