@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Dela+Gothic+One&family=Inconsolata:wght@200;300;400;500;600;700;800;900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Teko:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-fluid .parent {
    position: relative;
    width: 100%;
    height: 100%;
}

.container-fluid .parent img {
    vertical-align: middle;
    height: 450px;
    
}

.container-fluid .parent .text {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    color: #ffffff;
    width: 100%;
    height: 100%;
    padding-top: 150px;
    text-align: center;
}

.container-fluid .parent .text h2 {
    font-family: 'Dancing Script', cursive;
}
#con2{
    margin-top: 30px;
}
#con2 #logo{
    position: absolute;
    margin-top: 15px;
}

.login {
    width: 500px;
    height: 620px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    margin: auto;
    margin-top: 100px;
    border: 1px solid rgb(208, 206, 206);

}


.login img{
    margin-top: 30px;
}
.login p{
    margin-left: 25%;
    margin-top: 10px;
    color: gray;
}
.login #login{
    margin-left: 50px;
}
.login #login #email{
    font-weight: 400;
}
.login #login #email-inp{
    width: 88%;
    height: 50px;
    border: 1px solid rgb(208, 206, 206);
    border-radius: 5px;
    margin-top: 10px;
    padding: 10px;

}
.login #login #password{
    font-weight: 400;
    margin-top: 20px;

}
.login #login #password-inp{
    width: 88%;
    height: 50px;
    border: 1px solid rgb(208, 206, 206);
    border-radius: 5px;
    margin-top: 10px;
    padding: 10px;
}

.center {
    position: relative;
    top: 5%;
    margin-left: 50px;
}

.center input[type="checkbox"] {
    position: relative;
    width: 40px;
    height: 20px;
    -webkit-appearance: none;
    background-color: #c6c6c6;
    outline: none;
    border-radius: 20px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, .2);
    transition: .5s;
    cursor: pointer;
}

.center input:checked[type="checkbox"] {
    background-color: #000000;
}

.center input[type="checkbox"]:before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    top: 0;
    left: 0;
    background-color: #fff;
    transform: scale(1.1);
    box-shadow: 0 2px 5px rbga(0, 0, 0, 0.2);
    transition: .5s;

}

.center input:checked[type="checkbox"]:before {
    left: 20px;
}

.center a{
    margin-left: 105px;
    font-weight: 300;
    color: #000000;
}
.center a:hover{
    text-decoration: none;
}

.login #submit{
    margin-left: 50px ;
    margin-top: 50px;
    width: 80%;
    height: 50px;
    border: none;
    background-color: #000000;
}
.login #fb{
    margin-left: 50px ;
    margin-top: 20px;
    width: 80%;
    height: 50px;
    border: none;
    background-color: #0f1676;
}
.login #google{
    margin-left: 50px ;
    margin-top: 20px;
    width: 80%;
    height: 50px;
    border: none;
    background-color: #0a6bea;
}
.login #register{
    margin-top: 10px;
    margin-left: 5px;
    color: #000000;
    font-weight: 700;
}
.login #register:hover{
    text-decoration: none;
}
.login #eye{
    position: absolute;
    margin-top: 30px;
    right: 38%;
}

#expert .container{
    background-color: #fafafa;
    border-radius: 5px;
    height: 200px;
    margin-top: 100px;
}
#expert .container h3{
    margin-top: 80px;
    margin-left: 40px;
    font-weight: 800;
}
#expert .container p{
    margin-left: 40px;
}
#expert .container input{
    margin-top: 90px;
    height: 60px;
    border-radius: 5px;
    outline: none;
    border: 1px solid black;
    padding-left: 20px;
    background-color: white;

}
#expert .container button{
    height: 65px;
    margin-top: 90px;
    background-color: #000000;
}
#expert .container button:hover{
    background-color: #000000;
    filter: brightness(1.90);
    transition: all .5s;
} 
